<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Tracker</display-name>
  <welcome-file-list>
    <welcome-file>tIndex.html</welcome-file>
    <welcome-file>tIndex.htm</welcome-file>
    <welcome-file>tIndex.jsp</welcome-file>
    <welcome-file>tDefault.html</welcome-file>
    <welcome-file>tDefault.htm</welcome-file>
    <welcome-file>tDefault.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DelayIssueListServlet</display-name>
    <servlet-name>DelayIssueListServlet</servlet-name>
    <servlet-class>controller.DelayIssueListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelayIssueListServlet</servlet-name>
    <url-pattern>/delayIssue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SummaryPiChartServlet</display-name>
    <servlet-name>SummaryPiChartServlet</servlet-name>
    <servlet-class>controller.SummaryPiChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SummaryPiChartServlet</servlet-name>
    <url-pattern>/summaryPiChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonPiChartServlet</display-name>
    <servlet-name>CommonPiChartServlet</servlet-name>
    <servlet-class>controller.CommonPiChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonPiChartServlet</servlet-name>
    <url-pattern>/commonPiChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductPiChartServlet</display-name>
    <servlet-name>ProductPiChartServlet</servlet-name>
    <servlet-class>controller.ProductPiChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductPiChartServlet</servlet-name>
    <url-pattern>/productPiChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComponentPiChartServlet</display-name>
    <servlet-name>ComponentPiChartServlet</servlet-name>
    <servlet-class>controller.ComponentPiChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComponentPiChartServlet</servlet-name>
    <url-pattern>/componentPiChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductTableServlet</display-name>
    <servlet-name>ProductTableServlet</servlet-name>
    <servlet-class>controller.ProductTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductTableServlet</servlet-name>
    <url-pattern>/productTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SummaryTableServlet</display-name>
    <servlet-name>SummaryTableServlet</servlet-name>
    <servlet-class>controller.SummaryTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SummaryTableServlet</servlet-name>
    <url-pattern>/summaryTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonTableServlet</display-name>
    <servlet-name>CommonTableServlet</servlet-name>
    <servlet-class>controller.CommonTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonTableServlet</servlet-name>
    <url-pattern>/commonTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComponentTableServlet</display-name>
    <servlet-name>ComponentTableServlet</servlet-name>
    <servlet-class>controller.ComponentTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComponentTableServlet</servlet-name>
    <url-pattern>/componentTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonCreateRankingServlet</display-name>
    <servlet-name>CommonCreateRankingServlet</servlet-name>
    <servlet-class>controller.CommonCreateRankingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonCreateRankingServlet</servlet-name>
    <url-pattern>/commonCreateRanking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonUpdateRankingServlet</display-name>
    <servlet-name>CommonUpdateRankingServlet</servlet-name>
    <servlet-class>controller.CommonUpdateRankingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonUpdateRankingServlet</servlet-name>
    <url-pattern>/commonUpdateRanking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SummaryCreateRankingServlet</display-name>
    <servlet-name>SummaryCreateRankingServlet</servlet-name>
    <servlet-class>controller.SummaryCreateRankingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SummaryCreateRankingServlet</servlet-name>
    <url-pattern>/summaryCreateRanking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductCreateRankingServlet</display-name>
    <servlet-name>ProductCreateRankingServlet</servlet-name>
    <servlet-class>controller.ProductCreateRankingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCreateRankingServlet</servlet-name>
    <url-pattern>/productCreateRanking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComponentCreateRankingServlet</display-name>
    <servlet-name>ComponentCreateRankingServlet</servlet-name>
    <servlet-class>controller.ComponentCreateRankingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComponentCreateRankingServlet</servlet-name>
    <url-pattern>/componentCreateRanking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SummaryUpdateRankingServlet</display-name>
    <servlet-name>SummaryUpdateRankingServlet</servlet-name>
    <servlet-class>controller.SummaryUpdateRankingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SummaryUpdateRankingServlet</servlet-name>
    <url-pattern>/summaryUpdateRanking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductUpdateRankingServlet</display-name>
    <servlet-name>ProductUpdateRankingServlet</servlet-name>
    <servlet-class>controller.ProductUpdateRankingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUpdateRankingServlet</servlet-name>
    <url-pattern>/productUpdateRanking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComponentUpdateRankingServlet</display-name>
    <servlet-name>ComponentUpdateRankingServlet</servlet-name>
    <servlet-class>controller.ComponentUpdateRankingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComponentUpdateRankingServlet</servlet-name>
    <url-pattern>/componentUpdateRanking</url-pattern>
  </servlet-mapping>
</web-app>