<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EnyoTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>download</display-name>
    <servlet-name>download</servlet-name>
    <servlet-class>download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PieChartServlet</display-name>
    <servlet-name>PieChartServlet</servlet-name>
    <servlet-class>PieChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PieChartServlet</servlet-name>
    <url-pattern>/piechart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>flowChartServlet</display-name>
    <servlet-name>flowChartServlet</servlet-name>
    <servlet-class>flowChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>flowChartServlet</servlet-name>
    <url-pattern>/flowchart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSearchBarServlet</display-name>
    <servlet-name>GetSearchBarServlet</servlet-name>
    <servlet-class>GetSearchBarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSearchBarServlet</servlet-name>
    <url-pattern>/getsearchbar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSummaryServlet</display-name>
    <servlet-name>GetSummaryServlet</servlet-name>
    <servlet-class>GetSummaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSummaryServlet</servlet-name>
    <url-pattern>/getsummary</url-pattern>
  </servlet-mapping>
</web-app>