<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DashBoard</display-name>
  <welcome-file-list>
    <welcome-file>gIndex.html</welcome-file>
    <welcome-file>gIndex.htm</welcome-file>
    <welcome-file>gIndex.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MergeChangeListServlet</display-name>
    <servlet-name>MergeChangeListServlet</servlet-name>
    <servlet-class>controller.MergeChangeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MergeChangeListServlet</servlet-name>
    <url-pattern>/mergeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AbandonChangeListServlet</display-name>
    <servlet-name>AbandonChangeListServlet</servlet-name>
    <servlet-class>controller.AbandonChangeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbandonChangeListServlet</servlet-name>
    <url-pattern>/abandonList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenChangeListServlet</display-name>
    <servlet-name>OpenChangeListServlet</servlet-name>
    <servlet-class>controller.OpenChangeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenChangeListServlet</servlet-name>
    <url-pattern>/openList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FullChangeListServelt</display-name>
    <servlet-name>FullChangeListServelt</servlet-name>
    <servlet-class>controller.FullChangeListServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FullChangeListServelt</servlet-name>
    <url-pattern>/fullList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatePrintServlet</display-name>
    <servlet-name>DatePrintServlet</servlet-name>
    <servlet-class>controller.DatePrintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatePrintServlet</servlet-name>
    <url-pattern>/datePrint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAreaChartServlet</display-name>
    <servlet-name>ProductAreaChartServlet</servlet-name>
    <servlet-class>controller.ProductAreaChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAreaChartServlet</servlet-name>
    <url-pattern>/productAreaChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductBarChartServlet</display-name>
    <servlet-name>ProductBarChartServlet</servlet-name>
    <servlet-class>controller.ProductBarChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductBarChartServlet</servlet-name>
    <url-pattern>/productBarChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductTableServlet</display-name>
    <servlet-name>ProductTableServlet</servlet-name>
    <servlet-class>controller.ProductTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductTableServlet</servlet-name>
    <url-pattern>/productTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonBarChartServlet</display-name>
    <servlet-name>CommonBarChartServlet</servlet-name>
    <servlet-class>controller.CommonBarChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonBarChartServlet</servlet-name>
    <url-pattern>/commonBarChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonAreaChartServlet</display-name>
    <servlet-name>CommonAreaChartServlet</servlet-name>
    <servlet-class>controller.CommonAreaChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonAreaChartServlet</servlet-name>
    <url-pattern>/commonAreaChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonTableServlet</display-name>
    <servlet-name>CommonTableServlet</servlet-name>
    <servlet-class>controller.CommonTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonTableServlet</servlet-name>
    <url-pattern>/commonTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComponentBarChartServlet</display-name>
    <servlet-name>ComponentBarChartServlet</servlet-name>
    <servlet-class>controller.ComponentBarChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComponentBarChartServlet</servlet-name>
    <url-pattern>/componentBarChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComponentAreaChartServlet</display-name>
    <servlet-name>ComponentAreaChartServlet</servlet-name>
    <servlet-class>controller.ComponentAreaChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComponentAreaChartServlet</servlet-name>
    <url-pattern>/componentAreaChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComponentTableServlet</display-name>
    <servlet-name>ComponentTableServlet</servlet-name>
    <servlet-class>controller.ComponentTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComponentTableServlet</servlet-name>
    <url-pattern>/componentTable</url-pattern>
  </servlet-mapping>
</web-app>